@import url("https://fonts.googleapis.com/css?family=Bitter&display=swap");
.Burger {
  justify-content: center;
  width: 500px;
  height: 460px;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Bitter", serif;
  overflow: auto;
  overflow-x: hidden;
}

.Price {
  font-size: 1.2rem;
  margin: 0;
}

@media (max-width: 1000px) {
  .Burger {
    width: 450px;
    height: 400px;
  }
}

@media (max-width: 500px) {
  .Burger {
    width: 100%;
    height: 300px;
    box-sizing: border-box;
  }
}
