.Layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Toolbar {
  width: 100%;
  height: 60px;
  background: #ffd496;
}

.Content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}